<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="background:#fff;width:500px;margin:0 auto;padding:8px;">
<div style="">
    <section class="wxqq Powered-by-WeixinQuanquan.com">
        <section class="wxqq Powered-by-WeixinQuanquan.com"><p style="white-space: normal;"><img
                class="replace replace-src" data-ttk="http://i1.piimg.com/d08f7d2d3ec9947a.gif"
                data-wxurl="https://mmbiz.qlogo.cn/mmbiz/GdmicTWXQzXZvIH3vlVWnp4xFN5xLIKDpU1fRe6xibbDjIFGN5MpYia2ibj8LtCv3ewN5jW9wCQTWzm9TQq8yKPv2A/0?wx_fmt=gif"
                src="http://i1.piimg.com/d08f7d2d3ec9947a.gif"
                local-src="http://www.weixinquanquan.com/Uploads/ueditor/1/20150522/1432301647144185.gif"
                title="1432301647144185.gif" style="width: 100% !important;" data-width="100%"/><br/></p></section>
        <p><br/></p>

        <p><img class="replace replace-src" data-ttk="http://p1.bqimg.com/544352/370e6834b4f323d4.gif"
                data-wxurl="https://mmbiz.qlogo.cn/mmbiz/c22Db9HN9KgxCtyyxvZ6MNQB8Xh4lIkU9fu7pu5hIIV1tUHI9EmshfG9Lb0ERMdJKWGeia4BngjibedzRwviaYFww/0?wx_fmt=gif"
                src="http://p1.bqimg.com/544352/370e6834b4f323d4.gif" style="width: 100% !important;"
                data-width="100%"/><br/></p></section>
    <p><br/></p>
    <section class="wxqq Powered-by-WeixinQuanquan.com">
        <fieldset style="border: 0px none;" class="tn-Powered-by-WeixinQuanquan">
            <section
                    style="margin: 2px 0.8em 1em 0; text-align: center; font-size: 1em; vertical-align: middle; white-space: nowrap;">
                <section
                        style="height: 0px; white-space: nowrap; border-top: 1.5em solid rgb(71, 193, 168); border-bottom: 1.5em solid rgb(71, 193, 168); border-left-width: 1.5em ! important; border-left-style: solid ! important; border-right-width: 1.5em ! important; border-right-style: solid ! important; border-color: #00bbec;"
                        class="wxqq-borderTopColor wxqq-borderLeftColor wxqq-borderRightColor wxqq-borderBottomColor"></section>
                <section
                        style="height: 0; white-space: nowrap; margin: -2.75em 1.65em;border-top: 1.3em solid #ffffff;border-bottom: 1.3em solid #ffffff;border-left: 1.3em solid transparent;border-right: 1.3em solid transparent;"></section>
                <section
                        style="height: 0px; white-space: nowrap; margin: 0.45em 2.1em; vertical-align: middle; border-top: 1.1em solid #00bbec; border-bottom: 1.1em solid #00bbec; border-left-width: 1.1em ! important; border-left-style: solid ! important; border-right-width: 1.1em ! important; border-right-style: solid ! important; border-color: #00bbec;"
                        class="wxqq-borderTopColor wxqq-borderLeftColor wxqq-borderRightColor wxqq-borderBottomColor">
                    <section class="" data-ct="fix" placeholder="一行短标题"
                             style="max-height: 1em; padding: 0px; margin-top: -0.5em; color: rgb(254, 255, 253); font-size: 1.2em; line-height: 1em; white-space: nowrap; overflow: hidden; font-style: normal;">
                        一行fsafasdfads短标题
                    </section>
                </section>
            </section>
        </fieldset>
    </section>
    <p><br/></p>

    <p><br/></p>
    <section class="wxqq Powered-by-WeixinQuanquan.com">
        <section class="wxqq-width-modify" data-width-percent="100%">
            <section style="border: none; margin: 0.5em 0px; box-sizing: border-box; padding: 0px;"
                     class="tn-Powered-by-WeixinQuanquan">
                <section style="border-radius: 0.8em; width: 100%; border: 2px solid #00bbec; box-sizing: border-box;"
                         class="tn-Powered-by-WeixinQuanquan wxqq-borderTopColor wxqq-borderLeftColor wxqq-borderRightColor wxqq-borderBottomColor"
                         data-width="100%">
                    <section
                            style="border-radius: 0.8em; width: 100%; text-align: center; display: table; padding: 10px; box-sizing: border-box; background-color: #00bbec;"
                            class="tn-Powered-by-WeixinQuanquan wxqq-bg" data-width="100%">
                        <section
                                style="display: table-cell; vertical-align: middle; min-height: 4em; width: 100%; height: 100%; padding: 10px; line-height: 1.2; border: 2px dotted white; font-family: inherit; font-weight: inherit; text-decoration: inherit; color: rgb(255, 255, 255); box-sizing: border-box; background-color: transparent;"
                                class="tn-Powered-by-WeixinQuanquan" data-width="100%">
                            发士大夫士大夫撒地方三大方啊的&nbsp; 发的地方
                            fsadfsadfasdfsdaa
                            sdfsadfsadfsadf
                            fsdfsadfasdf
                            asdfasdf发士大夫士大夫撒地方三大方啊的&nbsp; 发的地方
                            fsadfsadfasdfsdaa
                            sdfsadfsadfsadf
                            fsdfsadfasdf
                            asdfasd发士大夫士大夫撒地方三大方啊的&nbsp; 发的地方
                            fsadfsadfasdfsdaa
                            sdfsadfsadfsadf
                            fsdfsadfasdf
                            asdfasd发士大夫士大夫撒地方三大方啊的&nbsp; 发的地方
                            fsadfsadfasdfsdaa
                            sdfsadfsadfsadf
                            fsdfsadfasdf
                            asdfasd发士大夫士大夫撒地方三大方啊的&nbsp; 发的地方
                            fsadfsadfasdfsdaa
                            sdfsadfsadfsadf
                            fsdfsadfasdf
                            asdfasd<br/>
                            <section
                                    style="width: 7em; height: 7em; border: 5px solid rgb(255, 207, 45); border-radius: 100%; margin: 20px auto; box-sizing: border-box;"
                                    class="tn-Powered-by-WeixinQuanquan"><img class="tn-Powered-by-WeixinQuanquan"
                                                                              data-ttk="http://i1.piimg.com/544352/a60acc7892b94c08.jpg"
                                                                              data-wxurl="https://mmbiz.qlogo.cn/mmbiz/GdmicTWXQzXaUm6em0g3pOvEABy2v0tF9CrgajtbkIxaUWXdwJfvvsMqIEHnibebJ175ianJOCOwNydfGFickJlNPA/0?wx_fmt=jpeg"
                                                                              style="box-sizing: border-box; width: 100%; height: 100%; border-radius: 100%; background-image: url(http://i1.piimg.com/544352/a60acc7892b94c08.jpg); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;"
                                                                              data-width="100%"/></section>
                            <section class="tn-Powered-by-WeixinQuanquan" style="box-sizing: border-box;">
                                <section class="tn-Powered-by-WeixinQuanquan" style="box-sizing: border-box;">

                                </section>
                            </section>
                        </section>
                    </section>
                </section>
                <section style="width: 0px; height: 0px; clear: both;"></section>
            </section>
        </section>
    </section>
    <p><br/></p>
    <section class="wxqq Powered-by-WeixinQuanquan.com"><p style="white-space: normal;"><img class="replace replace-src"
                                                                                             data-ttk="http://i1.piimg.com/d08f7d2d3ec9947a.gif"
                                                                                             data-wxurl="https://mmbiz.qlogo.cn/mmbiz/GdmicTWXQzXZvIH3vlVWnp4xFN5xLIKDpU1fRe6xibbDjIFGN5MpYia2ibj8LtCv3ewN5jW9wCQTWzm9TQq8yKPv2A/0?wx_fmt=gif"
                                                                                             src="http://i1.piimg.com/d08f7d2d3ec9947a.gif"
                                                                                             local-src="http://www.weixinquanquan.com/Uploads/ueditor/1/20150522/1432301647144185.gif"
                                                                                             title="1432301647144185.gif"
                                                                                             style="width: 100% !important;"
                                                                                             data-width="100%"/></p>
    </section>
    <p><br/></p>
    <section id="wxqqWrap" style="border: dashed 1px #00bbec; padding: 5px;">
        <section class="wxqq Powered-by-WeixinQuanquan.com"><p><img style="width:100%" class="replace replace-bg"
                                                                    data-ttk="http://i1.piimg.com/544352/bbb4ac4604c64e1d.gif"
                                                                    data-wxurl="https://mmbiz.qlogo.cn/mmbiz/GdmicTWXQzXYEicLjPNZV5JicVBeo2wtpJsFLYib9XgsQ1GFN7BUb9HIzJ8mGOKAJmsPlDniaCB510hqbFUflFslH3w/0?wx_fmt=gif"
                                                                    src="http://i1.piimg.com/544352/bbb4ac4604c64e1d.gif"
                                                                    local-src="http://www.weixinquanquan.com/Uploads/ueditor/1/20150520/1432128750833091.gif"
                                                                    data-width="100%"/></p></section>
    </section>
    <p><br/></p>

    <p><br/></p>
</div>
</body>
</html>