<extend name="Public:sui"/>
<block name="css">
    <style>
        .list-block{margin: 0;}
        .list-block ul{background: #fff;}
        .content-block-title{margin: 0.5rem 0.75rem;}
        .num{color: #c0c0c0;}
        .price{color: #fe4d3d;}
    </style>
</block>
<block name="content">
    <div class="content">
        <div class="content-block-title">订单明细</div>
        <div class="list-block">
            <ul>
                <volist name="goods" id="g">
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">{$g.good_name}<small class="num">x{$g.good_num}</small></div>
                            <div class="item-after">￥{$g['good_price'] * $g['good_num']}</div>
                        </div>
                    </li>
                </volist>
                <li class="item-content">
                    <div class="item-media"><i class="icon icon-f7"></i></div>
                    <div class="item-inner">
                        <div class="item-title">优惠</div>
                        <div class="item-after">-￥{$order.discount_total}</div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">总计</div>
                        <div class="item-after">实付<span class="price">￥{$order.pay_total}</span></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="content-block-title">配送信息</div>
        <div class="list-block">
            <ul>
                <eq name="order['is_ziti']" value="1">
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">配送方式</div>
                            <div class="item-after">自提</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">客服电话</div>
                            <div class="item-after">17320105511</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-text">自提地址:郑东新区绿地原盛国际7号楼附5号千品百汇二楼</div>
                        </div>
                    </li>
                    <else/>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">收货人</div>
                            <div class="item-after">{$address.username}</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">联系电话</div>
                            <div class="item-after">{$address.mobile}</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-text">配送地址:{$address.address}</div>
                        </div>
                    </li>
                </eq>

            </ul>
        </div>
        <div class="content-block-title">订单信息</div>
        <div class="list-block">
            <ul>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">订单编号</div>
                        <div class="item-after">{$order.trade_no}</div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">下单时间</div>
                        <div class="item-after">{$order.addtime}</div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">支付时间</div>
                        <div class="item-after">{$order.pay_time}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</block>