<extend name="Public:layout" />
<block name="css">
<link href="__PUBLIC__/static/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
</block>
<block name="content">
<div class="col-sm-12">
    <div class="fixed-table-toolbar">
        <div class="bars pull-left">
            <div class="btn-group hidden-xs">
                <button onclick="_layOpenUrl('{:U('create')}','添加')" type="button" class="btn btn-outline btn-default" >
                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-outline btn-default">
                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="columns columns-right btn-group pull-right">
            <button class="btn btn-default btn-outline" type="button" title="搜索"><i class="glyphicon glyphicon-search"></i></button>
            <button onclick="javascript:window.location.reload();" class="btn btn-default btn-outline" type="button" name="refresh" title="刷新"><i class="glyphicon glyphicon-repeat"></i></button>
        </div>
        <div class="pull-right search">
            <input class="form-control input-outline" type="text" placeholder="请输入关键字">
        </div>
    </div>
    <table data-toggle="table" data-click-to-select="true" data-mobile-responsive="true">
        <thead>
        <tr>
            <th data-field="id" data-checkbox="true"></th>
            <th data-field="name">名称</th>
            <th data-field="total">金额</th>
            <th data-field="min_total">最低参与金额</th>
            <th data-field="num">总数量</th>
            <th data-field="available_num">每个用户可用数量</th>
            <th data-field="grant_num">已发放数量</th>
            <th data-field="use_num">已使用数量</th>
            <th data-field="begintime">开始时间</th>
            <th data-field="endtime">结束时间</th>
            <th data-field="status" data-align="center">状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <volist name="list" id="v">
        <tr id="item{$v.id}">
            <td><input type="checkbox" name="id" value="{$v.id}" /></td>
            <td>{$v.name}</td>
            <td>{$v.total}</td>
            <td>{$v.min_total}</td>
            <td>{$v.num}</td>
            <td>{$v.available_num}</td>
            <td>{$v.grant_num}</td>
            <td>{$v.use_num}</td>
            <td>{$v.begintime}</td>
            <td>{$v.endtime}</td>
            <td data-align="center">
                <button id="status{$v.id}" onclick="_setStatus({$v.id});" class="btn <eq name="v['status']" value="1">btn-info<else/>btn-default</eq>" type="button">{$status[$v['status']]}</button>
            </td>
            <td>
                <button onclick="_layOpenUrl('{:U('create',array('id'=>$v['id']))}', '修改')" class="btn btn-info " type="button"><i class="fa fa-paste"></i> 编辑</button>
            </td>
        </tr>
        </volist>
        </tbody>
    </table>
    {$page}

</div>
</block>
<block name="js">
<!-- Bootstrap table -->
<script src="__PUBLIC__/static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__PUBLIC__/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__PUBLIC__/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script>
    function _setStatus(id) {
        event.stopPropagation();
        layer.confirm('确定修改状态？',{btn: ['修改','取消']},function(index){
            _ajax({
                "url": "{:U('setStatus')}",
                "data": {id: id},
                "success": function(data){
                    if(data.code == 200){
                        layer.msg(data.msg,{icon: 1,time: 700});
                        var cl = $('#status'+id).attr('class');
                        cl = (cl=='btn btn-info')?'btn btn-defaule':'btn btn-info';
                        $('#status'+id).text(data.data);
                        $('#status'+id).attr('class',cl);

                    } else {
                        layer.alert( data.msg );
                    }
                },
                "param": id
            });
            layer.close(index);
        },function(index){
            layer.close(index);
        })
    }

    function _del(id){
        layer.confirm('确定删除用户？',{btn: ['删除','取消']},function(index){
            _ajax({
                url: "{:U('delete')}",
                data: {id: id},
                success: function(data){
                    if(data.code == 200){
                        $('#item'+id).hide();
                        layer.msg(data.msg,{icon: 1,time: 700});
                    } else {
                        layer.alert(data.msg);
                    }
                },
                param: id
            });
            layer.close(index);
        },function(index){
            layer.close(index);
        })
    }

</script>
</block>