<extend name="Public:layout" />
<block name="css">
    <link href="__PUBLIC__/static/css/plugins/switchery/switchery.css" rel="stylesheet">
    <link href="__PUBLIC__/static/css/plugins/fileinput/fileinput.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/static/css/plugins/wangEditor/css/wangEditor.min.css">
</block>
<block name="content">
    <div class="col-sm-12">
    <form class="form-horizontal" action="{:U('save')}" method="post" id="signupForm" enctype="multipart/form-data" >
        <input type="hidden" name="id" value="{$data.id}" id="id">
        <div class="panel panel-info">
            <div class="panel-heading">
                基本信息
            </div>
            <div class="panel-body">
                <input type="hidden" name="id" value="{$data.id}">
                <div class="form-group">
                    <label class="col-sm-3 control-label">名称：</label>
                    <div class="col-sm-8">
                        <input id="name" name="name" value="{$data.name}" class="form-control" type="text" aria-required="true" aria-invalid="true"
                               class="error">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">开始时间：</label>
                    <div class="col-sm-8">
                        <input id="begintime" name="begintime" value="{$data.begintime}" class="form-control" type="text" aria-required="true" aria-invalid="true"
                               class="valid">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">截止时间：</label>
                    <div class="col-sm-8" >
                        <input name="endtime" id="endtime" class="form-control" value="{$data.endtime}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">状态：</label>
                    <div class="col-sm-8">
                        <input type="checkbox" value="1" <if condition="($data['status'] eq 1) or !isset($data['status'])">checked</if> class="form-control js-switch" id="status" name="status">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-3">
                        <button class="btn btn-primary" type="submit">提交</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/static/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/static/js/plugins/validate/messages_zh.min.js"></script>
    <script src="__PUBLIC__/static/js/plugins/switchery/switchery.js"></script>
    <script>
        // checkbox
        var elem = document.querySelectorAll('.js-switch');
        for (var i=0;i<elem.length;i++){
            new Switchery(elem[i],{ color: '#64bd63', secondaryColor: '#f00', jackColor: '#fff'});
        }

        $().ready(function () {
            var icon = "<i class='fa fa-times-circle'></i> ";
            $().ready(function () {
                var icon = "<i class='fa fa-times-circle'></i> ";
                var rules = {
                    endtime: "required",
                };
                var message = {
                    endtime: icon + "请输入订餐截止时间",
                };
                _validateForm('signupForm',rules, message);
            });

        });

    </script>
</block>