<extend name="Public:sui"/>
<block name="css">
    <style>
        .head {
            max-height: 430px;
            overflow: hidden;
            background: url('__PUBLIC__/wx/image/user-bg.jpg') 0 0 no-repeat;
            background-size: contain;
        }
        .head-user{
            color: #ffffff;
            position: absolute;
            top: 8%;
            left: 0;
            text-align: center;
            width: 100%;
        }
        .user-pic{
            max-width: 100px;
            border-radius: 50%;
        }
        .list-block{margin: 0;}
        .item {
            width: 49.5%;
            height: 150px;
            display: inline-block;
            text-align: center;
            margin-top: 1%;
            background: #ffffff;
            padding-top: 25px;
        }
        .item img{max-height: 40px;font-size: 20px;}
        .item h5{margin: 0;}
        .f-l{float: left;}
        .f-r{float: right;}
        .list-block ul{overflow: hidden;background: #f0f0f0;}
    </style>
</block>
<block name="content">
    <div class="content">
        <div class="row head">
            <img src="__PUBLIC__/wx/image/user-bg.jpg" style="width: 100%;visibility: hidden;" alt="">
            <div class="head-user">
                <img class="user-pic" src="{$data.avatar}">
                <h5>{$data.nickname}</h5>
            </div>
        </div>
        <div class="list-block">
            <ul>
                <li class="item f-l">
                    <a href="{:U('Order/index')}" external>
                    <div class="item-cont">
                        <img src="__PUBLIC__/wx/image/order.png"/>
                        <h5 class="title">全部订单</h5>
                    </div>
                    </a>
                </li>
                <li class="item f-r">
                    <a href="{:U('Coupon/index')}" external>
                    <div class="item-cont">
                        <img src="__PUBLIC__/wx/image/coupon.png"/>
                        <h5 class="title">优惠券</h5>
                    </div>
                    </a>
                </li>
                <li class="item f-l">
                    <a href="javascript:$.alert('敬请期待！');" external>
                    <div class="item-cont">
                        <img src="__PUBLIC__/wx/image/youhui.png"/>
                        <h5 class="title">优惠活动</h5>
                    </div>
                    </a>
                </li>
                <li class="item f-r">
                    <a href="" external>
                    <div class="item-cont">
                        <img src="__PUBLIC__/wx/image/qidai.png"/>
                        <h5 class="title">敬请期待</h5>
                    </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</block>