<extend name="Public:layout" />
<block name="css">
<link href="__PUBLIC__/static/js/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
<link href="__PUBLIC__/static/css/plugins/fileinput/fileinput.min.css" rel="stylesheet">
<link href="__PUBLIC__/static/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <style>
        .tool {margin-top: -5px;}
        .del-pic{
            font-size: 24px;
            color: #ff4500;}
    </style>
</block>
<block name="content">
    <div class="col-sm-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                图片列表
            </div>
            <div class="panel-body" id="pic-list">
                <notempty name="list">
                    <volist name="list" id="v">
                        <a id="item{$v.id}" class="fancybox" href="{$v.pic}" title="图片">
                            <img alt="image" src="{$v.pic}" />
                            <i class="fa fa-trash del-pic" onclick="_del('{$v.id}')"></i>
                        </a>
                    </volist>
                </notempty>

            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                添加图片
                <span class="pull-right m-r tool"><button class="btn btn-primary"><i class="fa fa-plus"></i></button></span>
            </div>
            <div class="panel-body">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input id="file" name="file" type="file" multiple=true >
                            <span class="help-block m-b-none">建议尺寸640x200</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                轮播展示
            </div>
            <div class="panel-body">
                <div class="carousel slide" id="carousel1">
                    <div class="carousel-inner">
                        <notempty name="list">
                            <volist name="list" id="v" key="k">
                            <div class="item <eq name='k' value='1'>active</eq>">
                                <img alt="image" class="img-responsive" src="{$v.pic}">
                            </div>
                            </volist>
                        </notempty>
                    </div>
                    <a data-slide="prev" href="carousel.html#carousel1" class="left carousel-control">
                        <span class="icon-prev"></span>
                    </a>
                    <a data-slide="next" href="carousel.html#carousel1" class="right carousel-control">
                        <span class="icon-next"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</block>
<block name="js">
<!-- Bootstrap table -->
<script src="__PUBLIC__/static/js/plugins/peity/jquery.peity.min.js"></script>
<script src="__PUBLIC__/static/js/plugins/fancybox/jquery.fancybox.js"></script>
<script src="__PUBLIC__/static/js/plugins/fileinput/fileinput.min.js"></script>
<script src="__PUBLIC__/static/js/plugins/fileinput/fileinput_locale_zh.js"></script>
<script src="__PUBLIC__/static/js/plugins/toastr/toastr.min.js"></script>
<script>
    var good_id = '{$good_id}';
    $(document).ready(function () {
        $('.fancybox').fancybox({
            openEffect: 'none',
            closeEffect: 'none'
        });
    });

    $("#file").fileinput({
        language: 'zh',
        showUpload: true,
        showCaption: false,
        uploadUrl: "{$fileServer}",
        uploadExtraData: {'path':'Goods'},
        browseClass: "btn btn-primary",
        allowedFileTypes: ['image'],
        allowedFileExtensions: ['jpg', 'png','gif'],
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>"
    });

    $("#file").on("fileuploaded", function (event, data, previewId, index) {
        var res = data.response;
        if(res.code == 200){
            pics = res.data;
            _setPics(pics[0].src);
        } else {
            layer.alert(res.msg);
        }
    });

    function _del(id){
        $.fancybox.close()
        layer.confirm('确定删除？',{btn: ['删除','取消']},function(index){
            _ajax({
                url: "{:U('delPics')}",
                data: {id: id},
                success: function(data){
                    $.fancybox.close()
                    if(data.code == 200){
                        $('#item'+id).hide();
                        layer.msg(data.msg,{icon: 1,time: 700});
                    } else {
                        layer.alert(data.msg);
                    }
                },
                param: id
            });
            layer.close(index);
        },function(index){
            $.fancybox.close()
            layer.close(index);
        })
    }

    function _setPics(src){
        $.ajax({
            url: "{:U('Goods/setPics')}",
            type: 'post',
            data: {'good_id': good_id, 'pic': src},
            dataType: 'json',
            success: function (data) {
                if(data.code == 200){
                    _addPic(src,data.data);
                    toastr.success(data.msg);
                } else {
                    layer.alert(data.msg);
                }
            }
        })
    }

    function _addPic(src,id){
        var item = '<a id="item'+id+'" class="fancybox" href="'+src+'" title="图片">'+
                '<img alt="image" src="'+src+'" />'+
                '<i class="fa fa-trash del-pic" onclick="_del("'+id+'")"></i></a>';
        $('#pic-list').append(item);
    }

</script>
</block>