<extend name="Public:layout" />
<block name="css">
    <link href="__PUBLIC__/static/css/plugins/switchery/switchery.css" rel="stylesheet">
    <link href="__PUBLIC__/static/css/fileinput.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/static/css/plugins/wangEditor/css/wangEditor.min.css">
    <style>
        #map_container{
            height: 400px;
        }
    </style>
</block>
<block name="content">

    <div class="col-sm-12">
        <form class="form-horizontal" action="{:U('edit')}" method="post" id="signupForm">
            <div class="panel panel-info">
                <div class="panel-heading">
                    修改文章
                </div>
                <div class="panel-body">
                    <input type="hidden" name="id" value="{$data.id}">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图文名称:</label>
                        <div class="col-sm-7">
                            <input id="title" name="title" class="form-control"  value="{$data.title}" type="text" aria-required="true" aria-invalid="true" class="error">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片:</label>
                        <div class="col-sm-7">
                            <input type="file" name="uploadfile"   id="uploadfile"  accept="image/*"  class="file-loading error" />
                            <input type="hidden" name="pic" class="form-control" id="pic" aria-required="true"  value="{$data.pic}"aria-invalid="true" class="error"/>
                        </div>
                    </div>
                    <div class="form-group" style="height:300px;">
                        <label class="col-sm-2 control-label">文章内容:</label>
                        <div class="col-sm-7">
                            <textarea id="desc" name="desc"   style="height:300px"; class="form-control" aria-required="true" aria-invalid="true"  class=" error">{$data.desc}</textarea>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">是否与其他活动叠加：</label>-->
                    <!--<div class="col-sm-8">-->
                    <!--<input type="checkbox" value="1" class="form-control js-switch" id="is_other" name="is_other">-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">状态：</label>
                        <div class="col-sm-7"><eq name="data.status" value="1">
                            <input type="checkbox" value="1" class="form-control js-switch" id="status" name="status" checked >
                            <else/>
                            <input type="checkbox" value="1" class="form-control js-switch" id="status" name="status" >
                            </eq>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5 col-sm-offset-2">
                            <button class="btn btn-primary" type="submit">提交</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    </div>
</block>
<block name="js">
    <script type="text/javascript" src="__PUBLIC__/Editor/ueditor.config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Editor/ueditor.all.js"></script>
    <script src="__PUBLIC__/static/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/static/js/plugins/validate/messages_zh.min.js"></script>
    <script src="__PUBLIC__/static/js/plugins/switchery/switchery.js"></script>
    <script src="__PUBLIC__/static/js/fileinput.min.js"></script>
    <script src="__PUBLIC__/static/js/zh.js"></script>
    <script src="__PUBLIC__/static/js/plugins/wangEditor/plupload/plupload.full.min.js"></script>
    <script src="__PUBLIC__/static/js/plugins/wangEditor/wangEditor.min.js"></script>

    <script>
        function _uploadFile(uploadid,picid) {
            $("#" + uploadid).fileinput({
                language: 'zh', //设置语言
                uploadUrl: '/api.php/File/upfile',//上传的地址
                allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
                //uploadExtraData:{"id": 1, "fileName":'123.mp3'},
                uploadAsync: true, //默认异步上传
                showUpload: true, //是否显示上传按钮
                showRemove: true, //显示移除按钮
                showPreview: true, //是否显示预览
                showCaption: false,//是否显示标题
                autoReplace: true,
                browseClass: "btn btn-primary", //按钮样式
                dropZoneEnabled: true,//是否显示拖拽区
                maxImageHeight: 1000,//图片的最大高度
                maxFileCount: 1,
                uploadExtraData:{ 'path':'Article'},
                validateInitialCount: true,
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！"
            }).on("fileuploaded", function (e, data) {
                 var res=data.response;
                if(res.code==200){
                     var s=res.data;
                    var pic=s[0].src;
                    $("#" + picid).val(pic);
                layer.msg("上传成功",{icon:1,time:500});
                }
                else {

                    layer.alert(res.msg);
                }
            });
        }
        _uploadFile("uploadfile","pic");
        //初始化图像条用
        <notempty name="data['pic']">
                initPortrait('uploadfile', '{$data.pic}')
                </notempty>

                    //初始化图像信息
                function initPortrait(ctrlName, src) {
                    var control = $('#' + ctrlName);
                    var imageurl = '__ROOT__'+src;

                    //重要，需要更新控件的附加参数内容，以及图片初始化显示
                    control.fileinput('refresh', {
                        initialPreview: [ //预览图片的设置
                            "<img src='" + imageurl + "' class='file-preview-image' alt='图片' title='图片'>",
                        ],
                    });
                }
        //Editor
        _initEditor();
        function _initEditor(){
            wangEditor.config.printLog = false;// 取消粘贴过滤
            var editor = new wangEditor('desc');
            editor.config.pasteFilter = false;//取消打印log
            editor.config.zindex = 20000;//全屏
            editor.config.customUpload = true;  // 配置自定义上传的开关
            editor.config.customUploadInit = uploadInit;  // 配置上传事件，uploadInit方法已经在上面定义了
            editor.create();
        }

        // 封装console.log
        function printLog(title, info) {
            window.console && console.log(title, info);
        }

        // ------- 配置上传的初始化事件 -------
        function uploadInit () {
            var editor = this;
            // 编辑器中，触发选择图片的按钮的id
            var btnId = editor.customUploadBtnId;
            // 编辑器中，触发选择图片的按钮的父元素的id
            var containerId = editor.customUploadContainerId;

            //实例化一个上传对象
            var uploader = new plupload.Uploader({
                browse_button: btnId,  // 选择文件的按钮的id
                url: '/api.php/File/upfile',  // 服务器端的上传地址
                flash_swf_url: 'plupload/plupload/Moxie.swf',
                sliverlight_xap_url: 'plupload/plupload/Moxie.xap',
                filters: {
                    mime_types: [
                        //只允许上传图片文件 （注意，extensions中，逗号后面不要加空格）
                        { title: "图片文件", extensions: "jpg,gif,png,bmp" }
                    ]
                }
            });

            //存储所有图片的url地址
            var urls = [];

            //初始化
            uploader.init();

            //绑定文件添加到队列的事件
            uploader.bind('FilesAdded', function (uploader, files) {
                //显示添加进来的文件名
//                $.each(files, function(key, value){
//                    printLog('添加文件' + value.name);
//                });

                // 文件添加之后，开始执行上传
                uploader.start();
            });

            //单个文件上传之后
            uploader.bind('FileUploaded', function (uploader, file, responseObject) {

                //注意，要从服务器返回图片的url地址，否则上传的图片无法显示在编辑器中
                var data = responseObject.response;
                if(typeof data == 'string'){
                    data = JSON.parse(data);
                }
                if(data.code == 200){
                    var pics = data.data;
                    urls.push(pics[0].src);
                }
                //先将url地址存储来，待所有图片都上传完了，再统一处理
            });

            //全部文件上传时候
            uploader.bind('UploadComplete', function (uploader, files) {
                // 用 try catch 兼容IE低版本的异常情况
                try {
                    //打印出所有图片的url地址
                    $.each(urls, function (key, value) {
                        // 插入到编辑器中
                        editor.command(null, 'insertHtml', '<img src="' + value + '" style="max-width:100%;"/>');
                    });
                } catch (ex) {
                    // 此处可不写代码
                } finally {
                    //清空url数组
                    urls = [];

                    // 隐藏进度条
                    editor.hideUploadProgress();
                }
            });

            // 上传进度条
            uploader.bind('UploadProgress', function (uploader, file) {
                // 显示进度条
                editor.showUploadProgress(file.percent);
            });
        }
        // checkbox
        var elem = document.querySelector('.js-switch');
        new Switchery(elem,{ color: '#64bd63', secondaryColor: '#f00', jackColor: '#fff'});
        $.validator.addMethod("isUrl", function(value, element) {
            var links =/^([hH][tT]{2}[pP]:\/\/|[hH][tT]{2}[pP][sS]:\/\/)(([A-Za-z0-9-~]+)\.)+([A-Za-z0-9-~\/])+$/;
            return this.optional(element) || (links.test(value));
        }, "请输进去正确的链接地址");
        var ue = UE.getEditor('desc');
        $().ready(function () {
            var icon = "<i class='fa fa-times-circle'></i> ";
            $().ready(function () {
                var icon = "<i class='fa fa-times-circle'></i> ";
                var rules = {
                    title: {
                        required: true,
                        minlength:5,
                        maxlength:40
                    },
                    desc: "required",
                    pic: "required",
                    link: {required:true,
                        url:true
                    }

                };
                var message = {
                    title: {
                        required: "请输入图文名称",
                        maxlength:"请输入长度小于40的文章标题",
                        minlength:"请输入长度大于5的文章标题"

                    },
                    desc: "请图文内容",
                    pic: "请选择图片",
                    link: {
                        required:"请输入图文链接",
                        url:"请输入正确的URL"
                    }
                };
                _validateForm('signupForm',rules, message);
            });

        });
    </script>
</block>