<extend name="Public:layout"/>
<block name="css">
    <style>
        a{color: #666;}
        .ui-grid-trisect>li{width: 50%;}
        .ui-grid-trisect-img{padding-top: 100%;}
    </style>
</block>
<block name="header"></block>
<block name="content">
    <section id="tab" class="full">
        <notempty name="list">
            <volist name="list" id="v" key="k">
                <ul class="ui-grid-trisect ui-border-b item <if condition='$k eq 1'>active</if>">
                    <notempty name="v">
                        <volist name="v" id="g">
                            <li>
                                <a href="javascript:void (0);">
                                    <div class="ui-grid-trisect-img">
                                        <span style="background-image:url({$g.pic|getPicThumb='m_'})"></span>
                                    </div>
                                    <h5 class="ui-nowrap ui-whitespace ui-flex ui-flex-pack-center">{$g.name}</h5>
                                </a></li>
                        </volist>
                        <else/>
                    </notempty>
                </ul>
            </volist>

        </notempty>
    </section>
</block>
<block name="footer"></block>