<extend name="Public:layout"/>
<block name="css">
    <!--<style>-->
        <!--a{color: #666;}-->
        <!--.left,.right{min-height: 100%;}-->
        <!--.left{background: #f0f0f0;position: fixed;left: 0;top:0;}-->
        <!--.right{background: #fff;position: absolute;right: 0;top:0;}-->
        <!--.ui-list {background: #f0f0f0;}-->
        <!--.ui-list li.active{background: #fff;}-->
        <!--.item{height: 100%;display: none;}-->
        <!--.item.active{display: block;}-->
        <!--.ui-grid-trisect > li {width: 50%;}-->
        <!--.ui-grid-trisect-img {padding-top: 100%;}-->
        <!--.ui-grid-trisect-img > span{background-position: center;background-size: contain;}-->
        <!--.ui-list-text>li, .ui-list-pure>li,.ui-list>li.active+li.ui-border-t{padding-right: 0;}-->
    <!--</style>-->
</block>
<block name="header"></block>
<block name="content">
    <section id="tab" class="full">
        <notempty name="list">
            <volist name="list" id="v" key="k">
                <ul class="ui-grid-trisect ui-border-b item <if condition='$k eq 1'>active</if>">
                    <notempty name="v">
                        <volist name="v" id="g">
                            <li>
                                <a href="{:U('desc', array('id'=>$g['id']))}">
                                    <div class="ui-grid-trisect-img">
                                        <span style="background-image:url({$g.pic|getPicThumb='m_'})"></span>
                                    </div>
                                    <h5 class="ui-nowrap ui-whitespace ui-flex ui-flex-pack-center">{$g.name}</h5>
                                </a></li>
                        </volist>
                        <else/>
                        <li style="font-size: 24px;text-align: center;width: 100%;">敬请期待.</li>
                    </notempty>
                </ul>
            </volist>

        </notempty>
    </section>
</block>
<block name="footer"></block>
<block name="js">
    <script>
        (function (){
            $('.ui-list li').click(function () {
                var index = $(this).index();
                var active = $(this).hasClass('active');
                if(!active){
                    $('.ui-list li').removeClass('active');
                    $(this).addClass('active');
                    _setShow(index);
                }
            })

            function _setShow(index){
                $('.item').hide();
                $('.item').eq(index).show();
            }
        })();
    </script>
</block>