<extend name="Public:sui"/>
<block name="css">
    <style>
        .content-block{
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            background: url('__PUBLIC__/wx/images/1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
        .border-bg{background: url('__PUBLIC__/wx/images/3.png');}
        .food{background: url('__PUBLIC__/Upload/Goods/m_5848f13a819b9.jpg');}
        .border-bg,.food {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        .food{
            width: 200px;
            height: 200px;
            left: 50%;
            top: 50%;
            margin-top: -120px;
            margin-left: -100px;
            border-radius: 50%;
            display: block;
        }
        .title{
            position: absolute;
            padding: 0;
            margin: 0;
            top: 50%;
            margin-top: 80px;
            text-align: center;
            width: 100%;
            font-size: 30px;
            color: #000;
            font-weight: 700;
        }
    </style>
</block>
<block name="content">
    <div class="content-block">
        <div class="border-bg"></div>
        <div class="food"></div>
        <p class="title">法式小羊排</p>
    </div>
</block>